    <section class="block block--dark">
      <div class="container">
        <nav class="nav collapsible">
          <header class="collapsible__header">
            <img class="nav__brand" src="images/logo.png" alt="" />
            <svg class="icon collapsible__toggler nav__toggler">
              <use href="images/sprite.svg#menu"></use>
            </svg>
          </header>
          <ul class="list collapsible__content nav__list">
            <li class="list__item nav__item">
              <a class="link nav__link" href="#">Hosting</a>
            </li>
            <li class="list__item nav__item">
              <a class="link nav__link" href="#">VPS</a>
            </li>
            <li class="list__item nav__item">
              <a class="link nav__link" href="#">Domain</a>
            </li>
            <li class="list__item nav__item">
              <a class="link nav__link" href="#">Price</a>
            </li>
          </ul>
        </nav>
      </div>
    </section>
