<div class="block block-callout">
  <div class="container">
    <div class="callout callout--primary">
      <div class="grid grid--1x2">
        <div class="callout__content">
          <h2 class="callout__heading">Ready to Get Started?</h2>
          <p class="callout__text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati,
            excepturi! Ab libero magni nam at dolore earum
          </p>
        </div>
        <a href="#" class="btn btn--secondary btn--stretched callout__btn"
          >Get Started</a
        >
      </div>
    </div>
  </div>
</div>
