<button class="btn btn--primary">Buy Now</button>
<a href="#" class="btn btn--primary">Buy Now</a>
<br />
<button class="btn btn--secondary">Buy Now</button>
<a href="#" class="btn btn--secondary">Buy Now</a>
<br />
<button class="btn btn--accent">Buy Now</button>
<a href="#" class="btn btn--accent">Buy Now</a>
<br />
<button class="btn btn--outline">Buy Now</button>
<a href="#" class="btn btn--outline">Buy Now</a>
<br />
<button class="btn btn--secondary btn--stretched">Buy Now</button>
<a href="#" class="btn btn--outline btn--stretched">Buy Now</a>
