<div class="feature">
  <div class="grid grid--1x2">
    <div class="feature__content">
      <div class="media">
        <div class="media__image">
          <span class="icon-container">
            <svg class="icon icon--primary">
              <use href="images/sprite.svg#clock"></use>
            </svg>
          </span>
        </div>
        <div class="media__body">
          <h3 class="media__heading feature__heading">Super Easy to Use</h3>
          <p class="media__description">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius,
            dicta. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Delectus in ex ratione iure quis fuga eius quaerat, optio inventore
            praesentium!sadf
          </p>
        </div>
      </div>
      <a href="#" class="link link--arrow">Learn More</a>
    </div>
    <img class="feature__image" src="images/easy.jpg" alt="" />
  </div>
</div>
