<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam officia
    fugit eaque veritatis velit accusantium odio quas, fuga cupiditate earum?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__heading quote__author">Jennifer Watson</h3>
        <p class="media__description quote__organization">
          Tariq Company Ceo
        </p>
      </div>
    </div>
  </footer>
</blockquote>
